@model List<BasketItemVM>

@{
    var Total2 = 0d;
    foreach (var item in Model)
    {
        Total2 += (item.Count * item.Price);
    }
}
<div class="cart-block">
    <div class="cart-total">
        <span class="text-number" id="count">
            @Model.Count
        </span>
        <span class="text-item">
            Shopping Cart
        </span>
        <span class="price" id="price">
            £@Total2
            <i class="fas fa-chevron-down"></i>
        </span>
    </div>
    <div class="cart-dropdown-block">
        @foreach (var item in Model)
        {
            <div class=" single-cart-block ">
                <div class="cart-product">
                    <a class="image">
                        <img src="~/Upload/BookImages/@item.ImgUrl" alt="">
                    </a>
                    <div class="content">
                        <h3 class="title">
                            <a href="product-details.html">
                                @item.Title
                            </a>
                        </h3>
                        <p class="price"><span class="qty">@item.Count ×</span> $@item.Price</p>
                            <a asp-controller="Basket" asp-action="DeleteItem" asp-route-id="@item.Id" class="cross-btn rem-btn"><i class="fas fa-times"></i></a>
                    </div>
                </div>
            </div>


        }
        <div class=" single-cart-block ">
            <div class="btn-block">
                <a asp-controller="Basket" asp-action="Index" class="btn">
                    View Cart <i class="fas fa-chevron-right"></i>
                </a>
                <a href="checkout.html" class="btn btn--primary">
                    Check Out <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>