@model CreateBookVM

<div class="container">
    <div class="col-12 grid-margin stretch-card mb-5 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Book Section</h4>
                <form class="forms-sample" method="post" data-encrypt enctype="multipart/form-data" >
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label asp-for="BookCode">BookCode</label>
                        <input asp-for="BookCode" class="form-control" placeholder="BookCode">
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorId">Author</label>
                        <select asp-for="AuthorId" asp-items="new SelectList(Model.Authors, nameof(Author.Id), nameof(Author.FullName))" class="form-select">
                            <option selected>Choose Author</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-select">
                            <option selected>Choose Category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId">Brand</label>
                        <select asp-for="BrandId" asp-items="new SelectList(Model.Brands, nameof(Brand.Id), nameof(Brand.Name))" class="form-select">
                            <option selected>Choose Brand</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TagIds">Tags</label>
                        <br />
                        <select asp-for="TagIds" asp-items="new SelectList(Model.Tags, nameof(Tag.Id), nameof(Tag.Name))" class="form-select">
                        </select>
                    </div>
                    
                    
                    <div class="row align-items-center">
                        <div class="mb-3 col-md-4">
                            <label asp-for="MainImage" class="form-label">Main Image</label>
                            <input class="form-control" asp-for="MainImage">
                            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                                <span asp-validation-for="MainImage"></span>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label asp-for="HoverImage" class="form-label">Hover Image</label>
                            <input class="form-control" asp-for="HoverImage">
                            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                                <span asp-validation-for="HoverImage"></span>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label asp-for="Images" class="form-label">Images</label>
                            <input class="form-control" asp-for="Images">
                            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                                <span asp-validation-for="Images"></span>
                            </div>
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Book" asp-action="Table">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>