@model CreateBookVM

<div class="container">
    <div class="col-12 grid-margin stretch-card mb-5 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Book Section</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label asp-for="BookCode">BookCode</label>
                        <input asp-for="BookCode" class="form-control" placeholder="BookCode">
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label asp-for="Availability">Availability</label>
                        <input asp-for="Availability" placeholder="Availability">
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorId">Author</label>
                        <select asp-for="AuthorId" asp-items="new SelectList(Model.Authors, nameof(Author.Id), nameof(Author.FullName))" class="form-select">
                            <option selected>Choose Category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-select">
                            <option selected>Choose Category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId">Brand</label>
                        <select asp-for="BrandId" asp-items="new SelectList(Model.Brands, nameof(Brand.Id), nameof(Brand.Name))" class="form-select">
                            <option selected>Choose Category</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Book" asp-action="Table">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>